[submodule "external/enet"]
	path = external/enet
	url = https://github.com/lsalzman/enet.git
[submodule "external/SDL-mirror"]
	path = external/SDL-mirror
	url = https://github.com/spurious/SDL-mirror
[submodule "external/gfx"]
	path = external/gfx
	url = https://github.com/dirtystudios/gfx.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
